@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&display=swap');


:root{
    --primaryRed: hsl(0, 100%, 67%);
    --primaryOrangey: hsl(39, 100%, 56%);
    --primaryGreenTeal: hsl(166, 100%, 37%);
    --primaryBlue: hsl(234, 85%, 45%);
    --gradientSlatePurple: hsl(252, 100%, 67%);
    --gradientBlue: hsl(241, 81%, 54%);
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%)

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* - Mobile: 375px
- Desktop: 1440px */