@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&display=swap');


:root{
    --primaryRed: hsl(0, 100%, 67%);
    --primaryOrangey: hsl(39, 100%, 56%);
    --primaryGreenTeal: hsl(166, 100%, 37%);
    --primaryBlue: hsl(234, 85%, 45%);
    --gradientSlatePurple: hsl(252, 100%, 67%);
    --gradientBlue: hsl(241, 81%, 54%);
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%)

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
}
.your-score{
    background: var(--primaryBlue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;
    border-radius: 0 0 40px 40px;
    
}
.container-main{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--gradientBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.reaction{
    display: flex;
    justify-content: space-between;
    

}
.memory{
    display: flex;
    justify-content: space-between;

}
.visual{
    display: flex;
    justify-content: space-between;

}
.verbal{

    display: flex;
    justify-content: space-between;
}
.type{
    display: flex;
}
/* - Mobile: 375px
- Desktop: 1440px */